---

import { boolean } from 'astro/zod';
import Layout from '../layouts/Layout.astro';

const res = await fetch("https://api.preciodelaluz.org/v1/prices/all?zone=PCB")
const data = await res.json();


---

<Layout title="Precio hoy.">
	<main>
		<h1 class="text-2xl justify-center flex p-4  font-bold text-amber-200">Precio de la luz 💡</h1>
		<div>
			<h2 class="text-xl justify-left px-16 p-2 flex text-stone-300">Por la mañana ☕</h2>
		<ul class="px-10 py-2">
			
			<li
			class:list={[
				"justify-left px-6 p-2",
			{
					"text-lime-400 font-semibold" : data['08-09']['is-cheap'],
					"text-orange-300" : !data['08-09']['is-cheap']
			}
			]} >De 08:00 a 09:00 | {data['08-09'].price} €/MWh</li>

						
			<li
			class:list={[
				"justify-left px-6 p-2",
			{
					"text-lime-400 font-semibold" : data['09-10']['is-cheap'],
					"text-orange-300" : !data['09-10']['is-cheap']
			}
			]} >De 09:00 a 10:00 | {data['09-10'].price} €/MWh</li>
									
			<li
			class:list={[	
				"justify-left px-6 p-2",			
			{
					"text-lime-400 font-semibold" : data['10-11']['is-cheap'],
					"text-orange-300" : !data['10-11']['is-cheap']
			}
			]} >De 10:00 a 11:00 | {data['10-11'].price} €/MWh</li>
									
			<li
			class:list={[
				"justify-left px-6 p-2",
			{
					"text-lime-400 font-semibold" : data['11-12']['is-cheap'],
					"text-orange-300" : !data['11-12']['is-cheap']
			}
			]} >De 11:00 a 12:00 | {data['11-12'].price} €/MWh</li>
			</ul>
			<h2 class="text-xl justify-left px-16 p-2 flex text-stone-300">Por el día 🌞</h2>
			<ul class="px-10 py-2">						
			<li
			class:list={[
				"justify-left px-6 p-2",
			{
					"text-lime-400 font-semibold" : data['12-13']['is-cheap'],
					"text-orange-300" : !data['12-13']['is-cheap']
			}
			]} >De 12:00 a 13:00 | {data['12-13'].price} €/MWh</li>
						
			<li
			class:list={[
				"justify-left px-6 p-2",
			{
					"text-lime-400 font-semibold" : data['13-14']['is-cheap'],
					"text-orange-300" : !data['13-14']['is-cheap']
			}
			]} >De 13:00 a 14:00 | {data['13-14'].price} €/MWh</li>
								
			<li
			class:list={[
				"justify-left px-6 p-2",
			{
					"text-lime-400 font-semibold" : data['14-15']['is-cheap'],
					"text-orange-300" : !data['14-15']['is-cheap']
			}
			]} >De 14:00 a 15:00 | {data['14-15'].price} €/MWh</li>
									
			<li
			class:list={[
				"justify-left px-6 p-2",
			{
					"text-lime-400 font-semibold" : data['15-16']['is-cheap'],
					"text-orange-300" : !data['15-16']['is-cheap']
			}
			]} >De 15:00 a 16:00 | {data['15-16'].price} €/MWh</li>
												
			<li
			class:list={[
				"justify-left px-6 p-2",
			{
					"text-lime-400 font-semibold" : data['16-17']['is-cheap'],
					"text-orange-300" : !data['16-17']['is-cheap']
			}
			]} >De 16:00 a 17:00 | {data['16-17'].price} €/MWh</li>
									
			<li
			class:list={[
				"justify-left px-6 p-2",
			{
					"text-lime-400 font-semibold" : data['17-18']['is-cheap'],
					"text-orange-300" : !data['17-18']['is-cheap']
			}
			]} >De 17:00 a 18:00 | {data['17-18'].price} €/MWh</li>
			</ul>

			<h2 class="text-xl justify-left px-16 p-2 flex text-stone-300">Vespertino 🌚</h2>	
			<ul class="px-10 py-2">		
			<li
			class:list={[
				"justify-left px-6 p-2",
			{
				"text-lime-400 font-semibold" : data['18-19']['is-cheap'],
				"text-orange-300" : !data['18-19']['is-cheap']
			}
			]} >De 18:00 a 19:00 | {data['18-19'].price} €/MWh</li>
											
			<li
			class:list={[
				"justify-left px-6 p-2",
			{
				"text-lime-400 font-semibold" : data['19-20']['is-cheap'],
				"text-orange-300" : !data['19-20']['is-cheap']
			}
			]} >De 19:00 a 20:00 | {data['19-20'].price} €/MWh</li>
			
			<li
			class:list={[
				"justify-left px-6 p-2",
			{
				"text-lime-400 font-semibold" : data['20-21']['is-cheap'],
				"text-orange-300" : !data['20-21']['is-cheap']
			}
			]} >De 20:00 a 21:00 | {data['20-21'].price} €/MWh</li>

			<li
			class:list={[
				"justify-left px-6 p-2",
			{
				"text-lime-400 font-semibold" : data['21-22']['is-cheap'],
				"text-orange-300" : !data['21-22']['is-cheap']
			}
			]} >De 21:00 a 22:00 | {data['21-22'].price} €/MWh</li>

			<li
			class:list={[
				"justify-left px-6 p-2",
			{
				"text-lime-400 font-semibold" : data['22-23']['is-cheap'],
				"text-orange-300" : !data['22-23']['is-cheap']
			}
			]} >De 22:00 a 23:00 | {data['22-23'].price} €/MWh</li>
		</ul>
	</div>
	</main>
</Layout>

