---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Precios de la luz PVPC de hoy" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/fav.webp"/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	
	html {
		font-family: system-ui, sans-serif;
		
	}
	body{
		background-color: #333;
		display: flex;
    	flex-direction: column;
   		min-height: 100vh;
    	overscroll-behavior: none;
	}
	
</style>
